<div class="columns">
    <div class="column is-4 is-offset-4">
        <div class="box">
            <div class="login-form">
                <h3 class="title">Flask & Vuejs Start up kit</h3>
                <p class="subtitle">Easy, Scallable and Powerfull</p>
                <form>
                    <div class="field">
                        <label class="label has-text-left">メールアドレス</label>
                        <div class="control">
                            <input
                                type="text"
                                class="input is-large"
                                placeholder="例)example@email.com"
                                v-model="auth.email">
                        </div>
                    </div>
                    <div class="field">
                        <label class="label has-text-left">パスワード</label>
                        <div class="control">
                            <input
                                type="password"
                                class="input is-large"
                                v-model="auth.password">
                        </div>
                    </div>
                    <button
                        type="button"
                        class="button is-block is-info is-large is-fullwidth"
                        @click="handleLogin()">
                        ログイン
                    </button>
                </form>
            </div>
        </div>
    </div>
</div>
