.aquarium-water-quality-monitor {
    .tilde {
        line-height: 2;
        margin-left: -0.25rem;
        margin-right: 0.55rem;
    }
    .button-text {
        margin-left: 6px;
    }
    .ph-graph-container {
        margin-top: 20px;
    }
}
