<div class="box">
    <form>
        <div class="field">
            <label class="label">pH下限値</label>
            <div class="control">
                <input type="number" class="input has-text-right" v-model.number="config.ph_lower_limit">
                <small class="help is-danger" v-for="error in errors.ph_lower_limit">
                    {{ error }}
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">pH上限値</label>
            <div class="control">
                <input type="number" class="input has-text-right" v-model.number="config.ph_upper_limit">
                <small class="help is-danger" v-for="error in errors.ph_upper_limit">
                    {{ error }}
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">水温下限値</label>
            <div class="control">
                <input type="number" class="input has-text-right" v-model.number="config.temperature_lower_limit">
                <small class="help is-danger" v-for="error in errors.temperature_lower_limit">
                    {{ error }}
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">水温上限値</label>
            <div class="control">
                <input type="number" class="input has-text-right" v-model.number="config.temperature_upper_limit">
                <small class="help is-danger" v-for="error in errors.temperature_upper_limit">
                    {{ error }}
                </small>
            </div>
        </div>
        <div class="field">
            <label class="label">センサーへの問い合わせ回数</label>
            <div class="control">
                <input type="number" class="input has-text-right" v-model.number="config.measurement_trials">
                <small class="help is-danger" v-for="error in errors.measurement_trials">
                    {{ error }}
                </small>
            </div>
        </div>
        <div class="field">
            <div class="control">
                <button type="button" class="button is-success" @click="handleClickSave()">
                    保存
                </button>
            </div>
        </div>
    </form>
</div>
