<nav class="navbar" role="navigation" aria-label="main navigation" v-if="isLoggedIn">
    <div class="navbar-brand">
        <router-link :to="{ path: '/' }" class="navbar-item">
            スマートアクアリウム
        </router-link>

        <a role="button"
            class="navbar-burger burger"
            aria-label="menu"
            data-target="navbar-groups"
            @click="handleToggleNavi()">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>

        <div id="navbar-groups" class="navbar-menu" :class="{ 'is-active': isShowNavi }">
            <div class="navbar-start">
                <div class="navbar-item has-dropdown is-hoverable" v-for="n in navigations">
                    <a class="navbar-link is-arrowless">
                        <i class="fas" :class="n.icon"></i>
                        <span class="menu-title">{{n.title}}</span>
                    </a>
                    <div class="navbar-dropdown">
                        <router-link class="navbar-item"
                                     v-for="s in n.submenu"
                                     :to="{ path: s.url }"
                                     @click.native="handleCloseNavi()">
                            <i class="fas" :class="s.icon"></i>
                            <span class="menu-title">{{s.title}}</span>
                        </router-link>
                    </div>
                </div>
            </div>

            <div class="navbar-end">
            </div>
        </div>
    </div>
</nav>
